/* POST COMPONENT CSS */


.post {
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  margin: 0 0 10px 0;
}

.post-upvotes {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  padding: 5px;
  min-width: 50px;
  font-family: 'Open Sans', sans-serif;
}

.post-info {
  width: 100%;
}

.post-title {
  background-color: #f5f5f5;
  padding: 5px 5px 5px 10px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.2em ;
}

.post-info a {
  text-decoration: none;
}

.post-footer {
  display: flex;
  background-color: #f5f5f5;
  padding: 0 5px 2px 5px;
  font-size: 0.85em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.post-footer div {
  padding: 0 5px 0 5px;
}

.post-user {
  color: rgba(0, 0, 0, 0.60);
}